body{
    margin: 0;
}
table td,th{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 5px;
    
    
}
table{
    border-collapse: collapse;
    border: 3px none;

}
table td > img{
    height: 18px;
}
.line{
    height: 2px;
    width: 100%;
    margin-bottom: 5px;
}
td{
    background-color: rgb(197, 197, 197);
    padding-bottom: 2px;
    transition: 0.2s background-color;
    
}

td:hover{
    cursor:grabbing;
    background-color: rgba(148, 148, 148, 0.283);
}

