body{
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 5px;
}
table td,th{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 5px;
    
    
}
table{
    border-collapse: collapse;
    border: 3px none;
    margin-right: 50px;

}
table td > img{
    height: 18px;
}
.lines{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.line{
    height: 2px;
    flex: 1;
    background: rgba(237, 74, 74, 0.546);;
}
td{
    background-color: rgb(197, 197, 197);
    padding-bottom: 2px;
    transition: 0.2s background-color;
    
}

td:hover{
    cursor:grabbing;
    background-color: rgba(148, 148, 148, 0.283);
}

.gifs{
    height: 40px;
}

.main-page{
    display: flex;
    flex-direction: row;
}

.grid-layout{
    margin-top: 2rem;
    padding: 5px;
    display: grid;
    grid-template-columns: 25rem  40rem;
    grid-template-rows: 220px 25rem 25rem;
    column-gap: 20px ;
    row-gap: 20px;
    height: 200px;
}


.grid1{
    display: flex;
    border-width: 2px;
    border-style: solid;
    border-radius: 1.3rem;
    align-items: center;
    justify-content: space-evenly;
}
.grid2{
    border-width: 2px;
    border-style: solid;
    border-radius: 1.3rem;
    height: 24rem;
}

.grid3{
    border-width: 2px;
    border-style: solid;
    border-radius: 1.3rem;
}
.selection-option1{
    height: 5rem;
   
}

.selection-option2{
    height: 5rem;
    
}

.vs-text{
    font-size: larger;
    
}

.teambutton{

    background-color: white;
    border: none;
}

.teambutton:hover{
    cursor: pointer;
}   