body{
    margin: 0;
}
table td,th{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 5px;
    
    
}
table{
    border-collapse: collapse;
    border: 3px none;

}
table td > img{
    height: 18px;
}
.lines{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.line{
    height: 2px;
    flex: 1;
    background: rgba(237, 74, 74, 0.546);;
}
td{
    background-color: rgb(197, 197, 197);
    padding-bottom: 2px;
    transition: 0.2s background-color;
    
}

td:hover{
    cursor:grabbing;
    background-color: rgba(148, 148, 148, 0.283);
}

.gifs{
    height: 40px;
}