.header {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(237, 74, 74);
}

.left-header {
    margin-left: 10px;
    width: 200px; 
    flex-shrink: 1;   
    display: flex;
    align-self: center;
    margin-right: 20px;
    min-width: 150px;
}


.middle-header { 
    width: 700px;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    
}

.right-header {
    margin-left: 20px;
    flex-basis: 200px; 
    flex-shrink: 1;   
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: row;

}

.laliga_logo{
    height: 30px;
}

.laliga_logo_text{
    height: 30px;
}

.search-bar{
    width: 500px; 
    height: 30px;
    display: flex;
    flex-shrink: 1;
    min-width: 50px;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.233);
    text-indent: 1.3rem;
    outline: none;
    z-index: 1;
}

.search-button{
    height: 34px;
    width: 30px;
}

.search-button-div{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 5px;

}

.ballicon{
    position: relative;
    height: 25px;
    top: 2px;
    left: 5px;
    z-index: 100;
}

.righticon1{
    height: 30px;
    padding-right: 20px;
}

.righticon2{
    height: 30px;
    padding-right: 30px;
}

