.livematches{
    display: flex;
}


table td{
    padding: 1.3rem;
    height: 1.2rem;
    border-radius: 0.5rem;
    border: 1px;
    border-style: solid;
    background-color: rgb(134, 134, 134);
    box-shadow: 2px 2px 0.2px 0.5px;
    transition: opacity 0.2s ;
    transition: background-color 0.2s;
}

.match-title{
    display: flex;
    justify-items: center;
}

.upcoming-matches{
    display: flex;
    flex-direction: column;


}

table td > img{
    height: 18px;
}

.matches-grid{
    display: flex;
    justify-content: center;
}

.header{
    justify-self: center;
}
table td:hover{
    background-color: rgb(107, 107, 107);
    opacity: 0.9;
}