<!DOCTYPE Html>
<html>
    <head>
        <title>Prediction app</title>
        <link rel="stylesheet" href="src/css/body.css">
        <link rel="stylesheet" href="src/css/header.css">
    </head>
    <body>
        <div class="header">
            <div class="left-header"> 
                <img class="laliga_logo" src="src/LL_RGB_h_color.png" alt="LaLiga logo">
                <img class="laliga_logo_text" src="src/LALIGA_EA_SPORTS_RGB_h_color.png" alt="LaLiga logo">
            </div>
            <div class="middle-header">
                <div class="search-bar">
                    <input name="search" placeholder="Search" class="search-bar">
                </div> 
                <div class="searh-button-div">
                    <a href="#">
                        <img class="ballicon" src="src/football.png" alt=""></button>
                    </a>    
                </div>
            </div>
            <div class="right-header">
                <a href="#">
                    <img src="src/bell-fill.svg" class="righticon1">
                    <img src="src/person-circle.svg" class="righticon2">
                </a>
            </div>
        </div>
        <div>
            <div>
               <table>
                    <tr>
                        <th>Pos</th>
                        <th>Team Name</th>
                        <th>Matches</th>
                        <th>Points</th>
                        <th>GDif</th>
                    </tr>
                    {% for standing in standings%}
                    <tr>
                        <td>{{standing.position}}</td>
                        <td>{{standing.team.name}}</td>
                        <td>{{standing.playedGames}}</td>
                        <td>{{standing.points}}</td>
                        <td>{{standing.goalDifference}}</td>
                    </tr>
                    {%endfor%}
               </table> 
            </div>
        </div>
    </body>
</html>
