{%load static%}
<!DOCTYPE Html>
<html>
    <head>
        <title>Prediction app</title>
        <link rel="stylesheet" href="{% static 'src/css/body.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'src/css/header.css' %}" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <div class="left-header"> 
                <img class="laliga_logo" src="{% static 'src/LL_RGB_h_color.png' %}" alt="LaLiga logo">
                <img class="laliga_logo_text" src="{% static 'src/LALIGA_EA_SPORTS_RGB_h_color.png' %}" alt="LaLiga logo">
            </div>
            <div class="middle-header">
                <div class="search-bar">
                    <input name="search" placeholder="Search" class="search-bar">
                </div> 
                <div class="searh-button-div">
                    <a href="#">
                        <img class="ballicon" src="{% static 'src/football.png' %}" alt=""></button>
                    </a>    
                </div>
            </div>
            <div class="right-header">
                <a href="#">
                    <img src="{% static 'src/bell-fill.svg' %}" class="righticon1">
                    <img src="{% static 'src/person-circle.svg' %}" class="righticon2">
                </a>
            </div>
        </div>
        <div class="line">||</div>
        <div>
            <div>
               <table>
                    <tr>
                        <th>Pos</th>
                        <th></th>
                        <th>Team Name</th>
                        <th>Matches</th>
                        <th>Points</th>
                        <th>GD</th>
                    </tr>
                    {% for standing in standings%}
                    <tr>
                        <td>{{standing.position}}</td>
                        <td><img class="club-logo" src="{{ standing.team.crest }}" alt="club-logo"></td>
                        <td>{{standing.team.name}}</td>
                        <td>{{standing.playedGames}}</td>
                        <td>{{standing.points}}</td>
                        <td>{{standing.goalDifference}}</td>
                    </tr>
                    {%endfor%}
               </table> 
            </div>
        </div>
    </body>
</html>
