{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'src/css/live.css' %}" type="text/css">
        <title>Live Matches</title>
    </head>
    <body>
        <div class="matches-grid">
            <div class="upcoming-matches">
                <div class="match-title">
                    <p>
                        Upcoming Matches
                    </p>
                </div>
                <div class="match-day">
                        Matchday 
                    </p>
                </div>
                <div class="livematches">
                    <table>
                        <tr>
                            <th></th>
                            <th>Home</th>
                            <th></th>
                            <th></th>
                            <th>Away</th>
                            <th></th>
                        </tr>
                        {% for livematch in liveMatches %}
                        <tr>
                            <td class="crest-size"><img src="{{ livematch.homeTeam.crest }}" alt="homeTeam-crest"></td>
                            <td>{{livematch.homeTeam.name}}</td>
                            <td>vs</td>
                            <td class="crest-size"><img src="{{ livematch.awayTeam.crest }}" alt="homeTeam-crest"></td>
                            <td >{{livematch.awayTeam.name}}</td>
                            <td>{{livematch.utcDate}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
            <div class="livematches-inplay">
                <div>
                    <p>
                        liveMatches

                    </p>
                </div>
                {% for previousMatches in previouslyPlayed %}
                <table>
                    <tr>
                        <th>Home</th>
                        <th></th>
                        <th>Away</th>
                    </tr>
                    <tr>
                        <td>{{previousMatches.homeTeam.name}}</td>
                        <td></td>
                        <td>{{previousMatches.awayTeam.name}}</td>
                    </tr>
                </table>
                {% endfor %endfor%}
            </div>
        </div>
    </body>
</html>