{% load static %}
<!DOCTYPE hmtl>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'src/css/live.css' %}" type="text/css">
        <title>Live Matches</title>
    </head>
    <body>
        <div>{{liveMatches.competition.name}}</div>
        <div class="livematches">
            <table>
                <tr>
                    <th>Home</th>
                    <th></th>
                    <th>Away</th>
                </tr>
                 <tr>
                    <td>{{liveMatches.homeTeam.name}}</td>
                    <td>vs</td>
                    <td>{{liveMatches.awayTeam.name}}</td>
                 </tr>
            </table>
        </div>
    </body>
</html>